<!DOCTYPE html>
<html>

<head>
	<title>SIW Books - Homepage Admin</title>
	<link rel="stylesheet" href="/css/stile-tema-libri.css?version=3" />

</head>

<header class="main-header">
	<div class="header-content container">

		<!-- A sinistra -->
		<div class="user-info">
			<span class="user-role">Bibliotecario:</span>
			<span class="user-name" th:text="${userDetails.username}"></span>
		</div>

		<!-- A destra -->
		<div class="header-links">
			<a class="header-link" th:if="${credentials != null}"
				th:href="@{/utente/{id}/profilo(id=${credentials.user.id})}">
				Profilo
			</a>

			<a class="header-link" href="/logout">Logout</a>
		</div>

	</div>
</header>

<body>

	<div>
		<img src="/images/logo-siwBooks.png" width="20%" />
	</div>

	<div>
		<h1>
			<a href="/books">Elenco Libri</a>
		</h1>
		<h1>
			<a href="/authors">Elenco Autori</a>
		</h1>
		<h1>
			<a href="/admin/indexBooks">Operazioni sui Libri</a>
		</h1>
		<h1>
			<a href="/admin/indexAuthors">Operazioni sugli Autori</a>
		</h1>
	</div>

</body>

</html>