<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIW Books - Gestione Libri</title>
</head>

<body>

<header>
    <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
    </div>
    <div th:unless="${userDetails}">
        <a href="/login">Login</a>
    </div>
</header>

<div>
    <a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
</div>

<h1>Gestione Libri</h1>

<div>
    <a href="/admin/formNewLibro">Inserisci un nuovo libro</a>
</div>
<div>
    <a href="/admin/manageBooks">Gestisci i libri</a>
</div>
<div>
    <a href="/formSearchLibri">Cerca i libri</a>
</div>

</body>
</html>
