<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestione Autori</title>
</head>

<body>

<header>
    <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
    </div>
    <div th:unless="${userDetails}">
        <a href="/login">Login</a>
    </div>
</header>

<div>
    <a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
</div>

<h1>Autori</h1>

<div th:if="${authors.isEmpty()}">
    Non ci sono autori nel sistema.
</div>

<ul>
    <li th:each="author : ${authors}">
        <div>
            <a th:href="@{'/author/' + ${author.id}}"
               th:text="${author.name} + ' ' + ${author.surname}">
            </a>

            <a th:href="@{'/admin/deleteAuthor/' + ${author.id}}">Cancella</a>
        </div>
    </li>
</ul>

</body>
</html>
