<!DOCTYPE html>
<html>

<head>
	<title>Gestione Libri</title>
	<link rel="stylesheet" href="/css/stile-tema-libri.css?version=3" />

</head>

<header class="main-header">
	<div class="header-content container">
		<!-- A sinistra -->
		<div class="user-info">
			<span class="user-role">Bibliotecario:</span>
			<span class="user-name" th:text="${userDetails.username}"></span>
		</div>

		<!-- A destra -->
		<div class="header-links">
			<a class="header-link" th:if="${credentials != null}"
				th:href="@{/utente/{id}/profilo(id=${credentials.user.id})}">
				Profilo
			</a>

			<a class="header-link" href="/logout">Logout</a>
		</div>
	</div>
</header>

<body>

	<div>
		<a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
	</div>

	<h1>Libri</h1>

	<div th:if="${books.isEmpty()}">
		Non ci sono libri nel sistema.
	</div>

	<ul>
		<li th:each="book : ${books}">
			<div>
				<a th:href="@{'/book/' + ${book.id}}" th:text="${book.title} + ' (' + ${book.annoPubblicazione} + ')'">
				</a>

				<img th:if="${book.imagePaths != null and #lists.size(book.imagePaths) > 0}"
					th:src="@{${book.imagePaths[0]}}" alt="Copertina libro" style="max-width:100px; margin-left:8px;" />

				<a th:href="@{'/admin/deleteBook/' + ${book.id}}">Cancella</a>
			</div>
		</li>
	</ul>

</body>

</html>