<!DOCTYPE html>
<html>

<head>
	<title>Aggiungi un nuovo autore</title>
	<link rel="stylesheet" href="/css/stile-tema-libri.css?version=3" />
</head>

<header class="main-header">
	<div class="header-content container">

		<!-- A sinistra -->
		<div class="user-info">
			<span class="user-role">Bibliotecario:</span>
			<span class="user-name" th:text="${userDetails.username}"></span>
		</div>

		<!-- A destra -->
		<div class="header-links">
			<a class="header-link" th:if="${credentials != null}"
				th:href="@{/utente/{id}/profilo(id=${credentials.user.id})}">
				Profilo
			</a>
			<a class="header-link" href="/logout">Logout</a>
		</div>

	</div>
</header>

<body>

	<div>
		<a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
	</div>

	<h1>Aggiungi un nuovo autore</h1>

	<form th:action="@{/admin/author}" method="post" th:object="${author}" enctype="multipart/form-data">

		<div>
			Nome:
			<input type="text" th:field="*{name}" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>

		<div>
			Cognome:
			<input type="text" th:field="*{surname}" />
			<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
		</div>

		<div>
			Data di nascita:
			<input type="date" th:field="*{birthDate}" />
			<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
		</div>

		<div>
			Data di morte (se presente):
			<input type="date" th:field="*{deathDate}" />
		</div>

		<div>
			Nazionalità:
			<input type="text" th:field="*{nationality}" />
			<span th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></span>
		</div>

		<div>
			<label for="photo">Foto autore:</label>
			<input id="photo" type="file" name="photo" accept="image/*" />
		</div>

		<div>
			<button type="submit">Conferma</button>
		</div>

	</form>

</body>

</html>