<!DOCTYPE html>
<html>

<head>
	<title>
		SiwBooks - Login
	</title>
	<link rel="stylesheet" href="/css/stile-tema-libri.css?version=3" />

</head>

<header class="main-header">
	<div class="header-content container">

		<!-- A sinistra -->
		<div class="user-info">
			<span class="user-role">SiwBooks</span>
		</div>

		<!-- A destra -->
		<div class="header-links">
			<a class="header-link">Login</a>
		</div>

	</div>
</header>

<body>

	<div>
		<a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
	</div>
	<h1>Login</h1>
	<form th:action="@{/login}" method="POST" class="form-auth">

		<div class="form-group">
			<label for="username">Username:</label>
			<input name="username" id="username" type="text" />
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input name="password" id="password" type="password" />
		</div>

		<div class="form-group">
			<span th:if="${param.error != null}" style="color: red;">
				Username o password errati
			</span>
		</div>

		<div class="form-group">
			<button type="submit">Login</button>
		</div>

		<div class="auth-register-inline">
			<span class="auth-text">Non hai un account?</span>
			<a th:href="@{/register}" class="auth-button-link">Registrati</a>
		</div>

	</form>


</body>

</html>