<!DOCTYPE html>
<html>

<head>
	<title>Aggiungi un nuovo libro</title>
	<link rel="stylesheet" href="/css/stile-tema-libri.css?version=3" />

</head>

<header class="main-header">
	<div class="header-content container">

		<!-- A sinistra -->
		<div class="user-info">
			<span class="user-role">Bibliotecario:</span>
			<span class="user-name" th:text="${userDetails.username}"></span>
		</div>

		<!-- A destra -->
		<div class="header-links">
			<a class="header-link" th:if="${credentials != null}"
				th:href="@{/utente/{id}/profilo(id=${credentials.user.id})}">
				Profilo
			</a>

			<a class="header-link" href="/logout">Logout</a>
		</div>

	</div>
</header>

<body>

	<div>
		<a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
	</div>

	<h1>Aggiungi un nuovo libro</h1>

	<form th:action="@{/admin/book}" method="post" th:object="${book}" enctype="multipart/form-data">

		<div>
			Titolo:
			<input type="text" th:field="*{title}" />
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</div>

		<div>
			Anno di pubblicazione:
			<input type="number" th:field="*{annoPubblicazione}" />
			<span th:if="${#fields.hasErrors('annoPubblicazione')}" th:errors="*{annoPubblicazione}"></span>
		</div>

		<h3>Immagini del libro</h3>
		<div>
			<label for="images">Carica immagini:</label>
			<input id="images" type="file" name="images" multiple accept="image/*" />
		</div>

		<div>
			<button type="submit">Conferma</button>
		</div>

	</form>

</body>

</html>