<!DOCTYPE html>
<html>

<head>
	<title>Ricerca Avanzata Autori</title>
	<link rel="stylesheet" href="/css/stile-tema-libri.css?version=2" />
</head>

<header class="main-header">
	<div class="header-content container">

		<!-- A sinistra -->
		<div class="user-info">
			<span class="user-role" th:if="${credentials != null}">
				<span th:if="${credentials.role == 'DEFAULT'}">Cliente:</span>
				<span th:if="${credentials.role == 'ADMIN'}">Bibliotecario:</span>
			</span>
			<span class="user-name" th:if="${userDetails}" th:text="${userDetails.username}"></span>
		</div>

		<!-- A destra -->
		<div class="header-links">
			<a class="header-link" th:if="${credentials != null}"
				th:href="@{/utente/{id}/profilo(id=${credentials.user.id})}">
				Profilo
			</a>

			<a class="header-link" href="/logout" th:if="${userDetails}">Logout</a>
			<a class="header-link" href="/login" th:unless="${userDetails}">Login</a>
		</div>

	</div>
</header>

<body>

	<div>
		<a href="/"><img src="/images/logo-siwBooks.png" width="20%" /></a>
	</div>

	<h1>Ricerca Avanzata Autori</h1>

	<form th:action="@{/foundAuthors}" method="get">

		<div>
			<label for="name">Nome:</label>
			<input type="text" id="name" name="name" th:value="${name}" />
		</div>

		<div>
			<label for="surname">Cognome:</label>
			<input type="text" id="surname" name="surname" th:value="${surname}" />
		</div>

		<div>
			<label for="nationality">Nazionalità:</label>
			<input type="text" id="nationality" name="nationality" th:value="${nationality}" />
		</div>

		<div>
			<label for="bornAfter">Nato dopo il:</label>
			<input type="date" id="bornAfter" name="bornAfter" th:value="${bornAfter}" />
		</div>

		<div>
			<label for="bornBefore">Nato prima del:</label>
			<input type="date" id="bornBefore" name="bornBefore" th:value="${bornBefore}" />
		</div>

		<div>
			<button type="submit">Cerca</button>
		</div>

	</form>

</body>

</html>